<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorld" class="com.example.demo.model.HelloWorld">
        <property name="name" value="Spring"></property>
    </bean>
    <bean id="car" class="com.example.demo.model.Car">
        <constructor-arg value="Banz-100"></constructor-arg>
        <constructor-arg value="100000"></constructor-arg>
        <constructor-arg value="Banz"></constructor-arg>
    </bean>

    <bean id="person" class="com.example.demo.model.Person">
        <property name="name" value="Chris"></property>
        <!-- <property name="car" ref="car"></property> -->
        <property name="car">
            <bean class="com.example.demo.model.Car">
                <constructor-arg value="Ford-110"></constructor-arg>
                <constructor-arg value="20000"></constructor-arg>
                <constructor-arg value="Ford"></constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="person2" class="com.example.demo.model.Person">
        <property name="name" value="Chris"></property>
        <property name="car" ref="car"></property>
        <!-- 级联赋值 -->
        <property name="car.brand" value="Tesla"></property>
    </bean>

    <bean id="boss" class="com.example.demo.model.Boss">
        <property name="name">
            <value><![CDATA[Ross]]></value>
        </property>
        <property name="cars">
            <map>
                <entry key="a" value-ref="car"></entry>
                <entry key="b" value-ref="car"></entry>
            </map>
        </property>
    </bean>

    <bean id="person3" class="com.example.demo.model.Person" p:name="Jenson" p:car-ref="car"></bean>
    <bean id="person4" class="com.example.demo.model.Person" p:name="Floyd" autowire="byName"></bean>

</beans>